@charset "UTF-8";
/*/// MAP GET ///*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif; }

/* MENUS DE NAV DE LA PAGINA */
.menuSuperior {
  z-index: 1000;
  position: sticky;
  top: 0%; }
  .menuSuperior nav {
    background-color: #c89effc2;
    background-image: url(../multimedia/mano.descendiendo1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0px;
    padding-top: 2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 2rem;
    text-align: right; }

.bg-fondo {
  flex-direction: row-reverse;
  background-color: #c89effc2;
  background-image: url(../multimedia/mano.descendiendo1.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0px;
  padding-top: 2rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-bottom: 2rem; }
  .bg-fondo a {
    transition: all 0.2s ease-in-out; }
  .bg-fondo a:hover {
    color: #ffffff;
    transform: scale(1.1); }

/* LOGO ANIMADO */
.animate__animated.animate__flipInY {
  width: 8rem;
  justify-self: flex-start;
  justify-items: flex-start;
  margin-left: 8rem; }

.animate__animated.animate__flipInY {
  --animate-duration: 2s; }

/* MODIFICACION ESTILO FUENTE DE NAVBAR BTS */
.nav-link {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #551A8B; }

.navbar-nav .nav-link.active {
  color: #7E78D2; }

.navbar-brand {
  display: none; }

/* MODIFICACION DE PADDING ELEMENTOS DE NAVBAR BTS */
.navbar {
  --bs-navbar-nav-link-padding-x: 0.8rem; }

.navbar-nav {
  --bs-nav-link-padding-x: 0.8rem;
  --bs-nav-link-padding-y: 0.8rem; }

/* FONDO PAGINA IDEX - SECCIONES QUE NO TIENEN SU COLOR PROPIO*/
.contenedor {
  background: white;
  background: -moz-linear-gradient(-45deg, white 0%, white 9%, #ffcce8 35%, #ffadd8 48%, #ff9ed3 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, white), color-stop(9%, white), color-stop(35%, #ffcce8), color-stop(48%, #ffadd8), color-stop(100%, #ff9ed3));
  background: -webkit-linear-gradient(-45deg, white 0%, white 9%, #ffcce8 35%, #ffadd8 48%, #ff9ed3 100%);
  background: -o-linear-gradient(-45deg, white 0%, white 9%, #ffcce8 35%, #ffadd8 48%, #ff9ed3 100%);
  background: -ms-linear-gradient(-45deg, white 0%, white 9%, #ffcce8 35%, #ffadd8 48%, #ff9ed3 100%);
  background: linear-gradient(135deg, white 0%, white 9%, #ffcce8 35%, #ffadd8 48%, #ff9ed3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff9ed3', GradientType=1 );
  font-size: 1.6rem; }

/* MAIN DE LA PAGINA - SU CIERRE DA INICIO A UNA GRILLA */
.principal {
  background-color: #c4ccff;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  height: 120rem; }
  .principal__titulo {
    color: #dd4fb5;
    font-size: 9rem;
    font-family: "Dancing Script", cursive;
    margin-left: 20px;
    margin-top: 20px; }
    .principal__titulo--bienvenida {
      color: #ffe6ff;
      text-align: center;
      font-size: 2rem; }
    .principal__titulo--link1 {
      color: #7747fc;
      text-align: right; }

.imagenLogo {
  width: 100px;
  height: 120px;
  background-position: 0%;
  z-index: 1;
  position: relative; }

/* LOGO ANIMADO */
.animate__animated.animate__shakeX {
  position: absolute;
  top: -50px;
  left: -60px;
  right: 0px;
  bottom: 20px; }
  .animate__animated.animate__shakeX img {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }

/* ESTILO DE IMAGEN PERTENECIENTE A MAIN CON TEXTO ENCIMA DE LA MISMA */
.imagenBienvenida {
  background-image: url(../multimedia/imagenpestaniasunias1.jpg);
  height: 100%;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0.3rem;
  margin-right: 0.6rem;
  margin-left: 0.6rem;
  margin-bottom: 0.4rem;
  padding-top: 0.2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-bottom: 0.2rem;
  border-top-style: inset;
  border-left-style: inset;
  border-bottom-style: none;
  border-left-color: #c89eff;
  border-top-color: #ff53d4;
  border-width: 2px; }
  .imagenBienvenida p {
    font-size: 3rem;
    text-align: center; }

/* DIV "FLOTANTE" PARA CONTRASTAR TEXTO SOBRE IMAGEN */
.fondo--parrafoPrincipal {
  margin-top: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #c4ccff;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #dd4fb5;
  box-shadow: 3px 3px 12px, 10px 10px 15px black; }

/* TEXTO DENTRO DEL DIV FLOTANTE */
.parrafoPrincipal {
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 1.4;
  font-weight: 800; }

/* COMIENZA LA GRILLA DE IMAGEN A LA IZQ Y TEXTO EN DERECHA */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  grid-template-areas: "eyelash textoEyelash" "botellitas textoBotellitas";
  justify-items: center;
  align-items: center; }
  .grid p {
    font-size: 2rem; }

/* ELEMENTO DE IZQ Y ARRIBA */
.eyelash {
  grid-area: eyelash;
  justify-self: center;
  align-self: center; }

.sectionImage1 {
  width: 100%;
  height: auto;
  padding-left: 12rem; }

/* ELEMENTOS DERECHA Y ARRIBA */
.textoEyelash {
  grid-area: textoEyelash;
  padding: 2rem;
  margin: 2rem; }

/* ELEMENTO IZQUIERDA Y ARRIBA */
.botellitas {
  grid-area: botellitas;
  justify-self: center;
  align-self: center;
  padding: 3rem;
  margin: 5rem; }

/* ELEMENTO ABAJO Y DERECHA */
.textoBotellitas {
  grid-area: textoBotellitas;
  padding: 2rem;
  margin: 2rem; }
  .textoBotellitas hr {
    width: 90%;
    height: 8px; }

.espaciadoLineas {
  line-height: 1.4; }
  .espaciadoLineas span {
    font-weight: 700;
    color: #7747fc; }

#fondoPagina2 {
  background-color: #e2fdfd; }

/* DIV CON CARACTERISTICAS DEl SERVICIO	 - 3 ELEMENTOS */
.iconos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "textoIcono1 textoIcono2 textoIcono3" "icono1 icono2 icono3";
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center; }
  .iconos img {
    max-width: 10rem;
    height: auto; }
  .iconos p {
    text-align: center;
    align-self: center; }

.iconos {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem; }

.textoIcono1 {
  grid-area: textoIcono1; }

.textoIcono2 {
  grid-area: textoIcono2; }

.textoIcono3 {
  grid-area: textoIcono3; }

/* ESTILO Y ANIMACION DE 3 ICONOS DEL DIV */
.icono1 {
  grid-area: icono1;
  animation-name: temblorcito;
  transition: all 0.2s ease-in-out; }
  .icono1:hover {
    animation: swing 1s ease;
    animation-iteration-count: 1; }

@keyframes temblorcito {
  15% {
    transform: translateX(5px); }
  30% {
    transform: translateX(-5px); }
  50% {
    transform: translateX(3px); }
  65% {
    transform: translateX(-3px); }
  80% {
    transform: translateX(2px); }
  100% {
    transform: translateX(0); } }

.icono2 {
  grid-area: icono2;
  animation-name: temblorcito;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out; }
  .icono2:hover {
    animation: swing 1s ease;
    animation-iteration-count: 1; }

.icono3 {
  grid-area: icono3;
  animation-name: tembloricto;
  transition: all 0.2s ease-in-out; }
  .icono3:hover {
    animation: swing 1s ease;
    animation-iteration-count: 1; }

/* TEXTO PIE DE PAGINA IDEX */
.copyFooter {
  background-color: #D59FF5;
  color: black;
  font-size: 1.3rem; }

/* CAJA DE PIE DE PAGINA */
.fondoRedes {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  background-color: #D59FF5; }

/* LOGO FB SECCION DE REDES */
.redesFacebook {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 10px; }
  .redesFacebook img {
    width: 5rem;
    transition: all 0.2s ease-in-out; }
  .redesFacebook img:hover {
    transform: scale(0.8); }

/*  LOGO IG SECCION DE REDES */
.redesInsta {
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 10px; }
  .redesInsta img {
    width: 5rem;
    transition: all 0.2s ease-in-out; }
  .redesInsta img:hover {
    transform: scale(0.8); }

/* DEBAJO VIENE LINK A WSP QUE POR AHORA NO TENGO LINKEADO POR LO QUE PONGO OTRO LINK A YOUTUBE */
.redesWhatsapp {
  position: fixed;
  right: 0px;
  bottom: 60px; }
  .redesWhatsapp img {
    width: 12rem; }

/* NAVBAR DE FOOTER */
.piePagina__index {
  display: flex;
  flex-direction: column; }
  .piePagina__index ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    padding-left: 0rem; }
  .piePagina__index a {
    color: #7747fc; }

.colorFooter {
  color: black;
  align-self: flex-start;
  font-size: 1.3rem; }
  .colorFooter b {
    padding-left: 2rem; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif; }

/* MENU DE NAVEGACION SUPERIOR-PRINCIPAL */
.menuSuperior {
  z-index: 1000;
  position: sticky;
  top: 0%; }
  .menuSuperior nav {
    background-color: #c89effc2;
    background-image: url(../multimedia/mano.descendiendo1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 0px;
    padding-top: 2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 2rem;
    text-align: right; }

/* MODIFICACION PARA "PISAR" ESTILOS PREDEFINIDOS DE BOOTSTRAP */
.bg-fondo {
  background-color: #c89effc2;
  background-image: url(../multimedia/mano.descendiendo1.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0px;
  padding-top: 2rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-bottom: 2rem; }
  .bg-fondo a {
    transition: all 0.2s ease-in-out; }
  .bg-fondo a:hover {
    color: #ffffff;
    transform: scale(1.1); }

/* LOGO DE NAVBAR */
.animate__animated.animate__flipInY {
  width: 8rem;
  justify-self: flex-start;
  justify-items: flex-start;
  margin-left: 8rem; }

.animate__animated.animate__flipInY {
  --animate-duration: 2s; }

/* MODIFICACION ESTILO FUENTE DE NAVBAR BTS */
.nav-link {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #551A8B; }

.navbar-nav .nav-link.active {
  color: #7E78D2; }

.navbar-brand {
  display: none; }

/* MODIFICACION DE PADDING ELEMENTOS DE NAVBAR BTS */
.navbar {
  --bs-navbar-nav-link-padding-x: 0.8rem; }

.navbar-nav {
  --bs-nav-link-padding-x: 0.8rem;
  --bs-nav-link-padding-y: 0.8rem; }

/* DIV DE ENCABEZADO PARA GALERIA-CLIENTES */
.encabezado {
  background-color: #c89effc2;
  color: #644fdd;
  display: flex;
  justify-content: space-around;
  margin: 0px;
  padding: 1rem;
  text-align: center; }
  .encabezado h1 {
    font-size: 3rem; }
  .encabezado img {
    width: 6rem;
    height: auto; }

/* /////GRILLA DE GALERIA /////*/
.mainSecundarios {
  background: #ffa8d6;
  background: linear-gradient(180deg, #ffa8d6 2%, #c3e9f1 42%, #d59ff5 99%);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: "texto1 imagen1 imagen2" " animacion imagen3 imagen4" " icono imagen5 imagen6" "texto2 imagen7 imagen8" "texto3 imagen9 imagen10";
  grid-gap: 3rem;
  justify-content: end;
  justify-items: end;
  align-items: center;
  margin: 0rem;
  padding: 6rem; }
  .mainSecundarios img {
    width: 40rem;
    height: auto;
    margin: 0rem;
    box-shadow: 2s;
    transition: width 2s;
    filter: grayscale(100%); }
  .mainSecundarios img:hover {
    box-shadow: 5px 5px 20px #551A8B;
    border: solid #7E78D2;
    filter: none; }

.galeria1 {
  grid-area: imagen1; }

.galeria2 {
  grid-area: imagen2; }

.galeria3 {
  grid-area: imagen3; }

.galeria4 {
  grid-area: imagen4; }

.galeria5 {
  grid-area: imagen5; }

.galeria6 {
  grid-area: imagen6; }

.galeria7 {
  grid-area: imagen7; }

.galeria8 {
  grid-area: imagen8; }

.galeria9 {
  grid-area: imagen9; }

.galeria10 {
  grid-area: imagen10; }

.texto1 {
  grid-area: texto1;
  font-size: 3rem;
  justify-self: center; }

.texto2 {
  grid-area: texto2;
  font-size: 3rem;
  justify-self: center; }

.texto3 {
  grid-area: texto3;
  font-size: 3rem;
  justify-self: center; }

/* NUEVO ICONO PARA RELLENAR ESPACIO NEGATIVO DE ZONA CENTRAL DE LA PAG/SUPERIOR EN MOBILE*/
/* VISTO COMO .slot BAJO CLASE PREDEF DE BTS */
.lordIcon {
  grid-area: icono;
  justify-self: center; }

/* FOOTER DE LA PAGINA */
.copyFooter {
  background-color: #D59FF5;
  color: black;
  font-size: 1.3rem; }

.fondoRedes {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  background-color: #D59FF5; }

.redesFacebook {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 10px; }
  .redesFacebook img {
    width: 5rem; }

.redesInsta {
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 10px; }
  .redesInsta img {
    width: 5rem; }

/* NAVBAR DE FOOTER */
/* uso de mixin */
.piePaginas {
  background-color: #D59FF5;
  padding: 2px;
  font-size: 1.5rem; }

.piePaginas ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  padding-left: 0rem; }
  .piePaginas ul a {
    color: #7747fc; }

.pieParrafo {
  font-weight: 800;
  padding-left: 2rem; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif; }

/* MENU DE NAV SUPERIOR DE PAG CONTACTO */
.bg-fondo {
  background-color: #c89effc2;
  background-image: url(../multimedia/mano.descendiendo1.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0px;
  padding-top: 2rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-bottom: 2rem; }
  .bg-fondo a {
    transition: all 0.2s ease-in-out; }
  .bg-fondo a:hover {
    color: #ffffff;
    transform: scale(1.1); }

/* LOGO ANIMADO NAVBAR */
.animate__animated.animate__flipInY {
  width: 8rem;
  justify-self: flex-start;
  justify-items: flex-start;
  margin-left: 8rem; }

.animate__animated.animate__flipInY {
  --animate-duration: 2s; }

/* MODIFICACION ESTILO FUENTE DE NAVBAR BTS */
.nav-link {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #551A8B; }

.navbar-nav .nav-link.active {
  color: #7E78D2; }

.navbar-brand {
  display: none; }

/* MODIFICACION DE PADDING ELEMENTOS DE NAVBAR BTS */
.navbar {
  --bs-navbar-nav-link-padding-x: 0.8rem; }

.navbar-nav {
  --bs-nav-link-padding-x: 0.8rem;
  --bs-nav-link-padding-y: 0.8rem; }

/* ID PRINCIPAL DE LA PAGINA UTILIZANDO MAIN */
#formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "opciones ." " checkbox fieldset " "textarea botones";
  row-gap: 3rem;
  column-gap: 3rem;
  justify-content: center;
  align-content: center;
  justify-items: start;
  place-items: center;
  background-color: #fcadefda;
  font-size: 1.7rem;
  text-align: left;
  padding: 2rem; }
  #formulario h3 {
    color: #b388eb; }

/* CHECKBOX DEL FORMULARIO */
.opciones {
  grid-area: opciones;
  display: grid;
  grid-column: start;
  font-size: 1.8rem;
  justify-self: start;
  margin-left: -90px; }

.formulario h1 {
  color: #644fdd;
  font-size: 3rem; }

.formulario h2 {
  color: #ff53d4;
  font-size: 2.5rem;
  margin: 0.5rem; }

.animacion img {
  width: 40rem;
  height: auto; }

.fieldset {
  grid-area: fieldset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-content: center;
  align-items: stretch;
  padding-left: 2rem; }

.textarea {
  grid-area: textarea;
  justify-self: center;
  place-items: center; }

.botones {
  grid-area: botones; }

/* RADIO BUTTONS DEL FORMULARIO */
.checkbox {
  grid-area: checkbox;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: flex-start;
  justify-items: start;
  font-size: 1.8rem; }
  .checkbox h2 {
    color: #ff53d4;
    font-size: 2.5rem;
    margin: 0.5rem; }

/* :::Ajustes checkbox y radio buttons ::::*/
.cb1 {
  display: flex;
  align-items: center;
  padding: 0.3rem; }

.cb2 {
  padding: 0.3rem; }

.cb3 {
  padding: 0.3rem; }

.rd1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.3rem; }

.rd2 {
  padding: 0.3rem; }

.rd3 {
  padding: 0.3rem; }

.fondoRedes {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  background-color: #D59FF5; }

/* SECTION DEL FOOTER */
.redesFacebook {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 10px; }
  .redesFacebook img {
    width: 5rem; }

.redesInsta {
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 10px; }
  .redesInsta img {
    width: 5rem; }

/* NAV BAR DEL FOOTER */
.piePaginas {
  background-color: #D59FF5;
  padding: 2px;
  font-size: 1.5rem; }

.piePaginas ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  padding-left: 0rem; }
  .piePaginas ul a {
    color: #7747fc; }

.copyFooter {
  background-color: #D59FF5;
  color: black;
  font-size: 1.3rem; }
  .copyFooter b {
    padding-left: 2rem; }

p {
  margin-bottom: 0rem; }

a {
  color: #7747fc;
  text-decoration: none; }

/* =/*::::: ESTILOS PARA PAGINA CONTACTO :::::: */
input[type="text"] {
  color: #c89eff; }

input[type="email"] {
  color: #c89eff; }

input[type="password"] {
  color: #c89eff; }

input[type="checkbox"], input[type="radio"] {
  width: 40px;
  margin: 10px; }

/* ///extend de la clase de arriba/// */
input[type="radio"] {
  padding: 10px;
  color: #b388eb;
  /* se agrega padding distinto y color de la clase original  */ }

select {
  border: none;
  outline: none;
  color: purple; }

option {
  background-color: #c4ccff; }

input:focus {
  background-color: #c4ccff;
  color: purple;
  border: none;
  padding: 0.6rem;
  transition: 0.5s linear; }

input:checked {
  color: #7747fc; }

input {
  accent-color: #7747fc; }

#formulario input {
  border: none;
  outline: none;
  cursor: pointer; }
  #formulario input:checked {
    color: #7747fc; }

#formulario textarea {
  color: #c89eff;
  outline: none; }
  #formulario textarea:focus {
    background: #c4ccff;
    color: purple; }

#formulario .botones input {
  background-color: #9999ff;
  color: white;
  margin: 4px;
  padding: 8px;
  border-radius: 4px; }
  #formulario .botones input:hover {
    background: #ff53d4 radial-gradient(circle, transparent 1%, #fdaefd 1%) center/15000%;
    color: white; }
  #formulario .botones input:active {
    background-color: #3c1777;
    background-size: 100%;
    transition: background 0.5s; }

/* imagen animada a la derecha de la pagina */
.animate__animated.animate__heartBeat {
  --animate-duration: 4s; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif; }

/* MENU DE NAVEGACION SUPERIOR */
.menuSuperior {
  z-index: 1000;
  position: sticky;
  top: 0%; }
  .menuSuperior nav {
    background-color: #c89effc2;
    background-image: url(../multimedia/mano.descendiendo1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 0px;
    padding-top: 2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 2rem;
    text-align: right; }
    .menuSuperior nav a {
      transition: all 0.2s ease-in-out; }
    .menuSuperior nav a:hover {
      color: #ffffff;
      transform: scale(1.1); }

/* CORRECCION DE ESTILOS DE NAVBAR POST AGREGADO DE BTS AL SITIO */
.bg-fondo {
  background-color: #c89effc2;
  background-image: url(../multimedia/mano.descendiendo1.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0px;
  padding-top: 2rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-bottom: 2rem; }
  .bg-fondo a {
    transition: all 0.2s ease-in-out; }
  .bg-fondo a:hover {
    color: #ffffff;
    transform: scale(1.1); }

/* LOGO ANIMADO DE NAVBAR */
.animate__animated.animate__flipInY {
  width: 8rem;
  justify-self: flex-start;
  justify-items: flex-start;
  margin-left: 8rem; }

.animate__animated.animate__flipInY {
  --animate-duration: 2s; }

/* ESTILO SECTION DE PAGINA NOSOTROS */
.sectionSecundarios {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 200rem;
  justify-content: space-evenly;
  font-size: 2rem;
  background-color: #dee2ff;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 12rem;
  padding-right: 12rem; }
  .sectionSecundarios h1 {
    color: #644fdd;
    font-size: 3rem;
    padding-bottom: 2rem; }
  .sectionSecundarios p {
    text-align: justify; }
  .sectionSecundarios span {
    font-weight: 700; }

/* MAPA INCLUIDO AL SITIO DESDE GOOGLE MAPS */
.iframe {
  width: 1000px;
  height: 400px; }

.espaciadoParrafo {
  padding-top: 1rem;
  padding-bottom: 3rem; }

/* ESTILO DE H2 DE LA PAGINA */
.subtituloSecundarios {
  font-weight: 700;
  color: #8093f1;
  font-size: 2.2rem;
  padding-top: 2rem;
  padding-bottom: 2rem; }

/* ESTILOS FOOTER */
.copyFooter {
  background-color: #D59FF5;
  color: black;
  font-size: 1.3rem; }

/* SECTION ZONA ARRIBA DEL FOOTER */
.fondoRedes {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  background-color: #D59FF5; }

.redesFacebook {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 10px; }
  .redesFacebook img {
    width: 5rem; }

.redesInsta {
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding: 10px; }
  .redesInsta img {
    width: 5rem; }

/* uso de mixin */
/* NAVBAR FOOTER */
.piePaginas {
  background-color: #D59FF5;
  padding: 2px;
  font-size: 1.5rem; }

.piePaginas ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  padding-left: 0rem; }
  .piePaginas ul a {
    color: #7747fc; }

.pieParrafo {
  font-weight: 800;
  padding-left: 2rem; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif; }

/* menu de navegacion superior */
.menuSuperior {
  z-index: 1000;
  position: sticky;
  top: 0%; }
  .menuSuperior nav {
    background-color: #c89effc2;
    background-image: url(../multimedia/mano.descendiendo1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 0px;
    padding-top: 2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-bottom: 2rem;
    text-align: right; }
    .menuSuperior nav a {
      transition: all 0.2s ease-in-out; }
    .menuSuperior nav a:hover {
      color: #ffffff;
      transform: scale(1.1); }

/* CORRECCION ESTILO MENU SUPERIOR POST BTS- USO DE VARIABLE */
.bg-fondo {
  background-color: #c89effc2;
  background-image: url(../multimedia/mano.descendiendo1.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0px; }

/* ///USO DE MAP GET/// */
.bg-fondo {
  padding-top: 2rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-bottom: 2rem; }

/* LOGO SMALL DE NAVBAR */
.animate__animated.animate__flipInY {
  width: 8rem;
  justify-self: flex-start;
  justify-items: flex-start;
  margin-left: 8rem; }

.animate__animated.animate__flipInY {
  --animate-duration: 2s; }

/* MODIFICACION ESTILO FUENTE DE NAVBAR BTS */
.nav-link {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #551A8B; }

.navbar-nav .nav-link.active {
  color: #7E78D2; }

.navbar-brand {
  display: none; }

/* MODIFICACION DE PADDING ELEMENTOS DE NAVBAR BTS */
.navbar {
  --bs-navbar-nav-link-padding-x: 0.8rem; }

.navbar-nav {
  --bs-nav-link-padding-x: 0.8rem;
  --bs-nav-link-padding-y: 0.8rem; }

/* MAIN PRINCIPAL DE PAGINA PREGUNTAS */
.mainPreguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  height: 120rem;
  margin: 0rem;
  padding: 4rem 12rem 4rem 12rem;
  text-align: center;
  background-color: #c4ccff;
  font-size: 2rem;
  text-align: start; }
  .mainPreguntas h3 {
    color: #e574bc; }
  .mainPreguntas strong {
    font-size: 2.4rem; }
  .mainPreguntas span {
    font-weight: 700; }
  .mainPreguntas p {
    text-align: start; }

/* RESALTADO DE TEXTO EN ACORDION BTS */
.accordion-body strong {
  font-size: 2rem; }

/* Nuevo mixin */
.h1Faqs {
  color: #7747fc;
  text-align: start;
  font-size: 3rem; }

.mainSecundarios h3 {
  color: #8093f1;
  text-align: center; }

.parrafo {
  text-align: center; }

/* ANIMACION DE H1 */
@keyframes Preguntas {
  0% {
    opacity: 100%; }
  25% {
    opacity: 75%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 25%; }
  100% {
    opacity: 0%; } }

.h1Faqs {
  animation-name: Preguntas;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-iteration-count: infinite; }

/* modificacion estilos acordion */
.accordion-button {
  color: #FFFF;
  background-color: #e574bc;
  font-size: 1.8rem; }

.accordion-button:not(.collapsed) {
  color: #7747fc;
  background-color: #e574bc; }

/* zona del fondo del acordion */
.accordion {
  --bs-accordion-bg: #c4ccff;
  --bs-accordion-border-color: #c4ccff ;
  --bs-accordion-btn-focus-border-color: #7747fc;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(177, 81, 255, 0.781);
  --bs-accordion-active-color: $footerNav;
  --bs-accordion-active-bg: #e7f1ff; }

p {
  margin-bottom: 0rem; }

/* footer */
.copyFooter {
  background-color: #D59FF5;
  color: black;
  font-size: 1.3rem; }

.piePaginas ul a {
  color: #7747fc; }

.pieParrafo {
  font-weight: 800;
  padding-left: 2rem; }

ul a {
  color: #7747fc; }

a {
  color: #7747fc; }

ul {
  margin-bottom: 0rem;
  padding-bottom: 2rem; }

/* ///BREAKPOINT TABLET/// */
@media (max-width: 900px) {
  .animate__animated.animate__flipInY {
    display: none; }
  .bg-fondo {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .sectionImage1 {
    width: 85%;
    height: auto;
    padding-left: 1rem; }
  .sectionImage2 {
    width: 85%;
    height: auto; } }

@media (max-width: 768px) {
  .contenedor {
    display: flex;
    flex-direction: column; }
  .animate__animated.animate__flipInY {
    display: none; }
  .menuSuperior nav {
    padding-top: 0rem;
    padding-bottom: 0rem; }
  .menuSuperior ul li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start; }
  .bg-fondo {
    padding-top: 1rem;
    padding-bottom: 0.3rem; }
  .imagenBienvenida p {
    font-size: 1.8rem; }
  .grid {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 200rem;
    justify-content: space-evenly;
    padding: 2rem; }
  .sectionImage1 {
    padding-left: 14rem;
    height: 100%; }
  .botellitas {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 5rem; }
  .sectionImage2 {
    height: 100%;
    width: auto; }
  .principal {
    display: flex;
    flex-direction: column;
    margin-bottom: 15rem; }
  .espaciadoLineas p {
    max-height: 80rem; }
  .textoEyelash {
    flex-grow: 1;
    max-height: 200px; } }

/* ///BREAKPOINTS INTERMEDIOS ///*/
@media (max-width: 520px) {
  .sectionImage2 {
    width: 40rem; }
  .botellitas {
    padding: 0rem;
    margin-top: 6rem; } }

@media (max-width: 560px) {
  .sectionImage2 {
    width: 40rem; }
  .botellitas {
    padding: 0rem; } }

@media (max-width: 640px) {
  .sectionImage2 {
    width: 58rem; }
  .botellitas {
    padding: 0rem; } }

/* /////BREAKPOINT CELULAR INDEX////// */
@media (max-width: 500px) {
  .contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 100%; }
  .animate__animated.animate__flipInY {
    display: none; }
  .menuSuperior nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    padding-top: 0rem;
    padding-bottom: 0rem; }
  .menuSuperior ul li {
    align-content: flex-start; }
  .principal__titulo--link1 {
    display: none; }
  .eyelash {
    width: 80%;
    height: auto;
    align-content: center;
    justify-content: center; }
  .grid {
    padding: 0rem; }
  .sectionImage1 {
    padding-left: 5rem; }
  .sectionImage2 {
    width: 100%;
    height: auto;
    align-content: center;
    justify-content: center; }
  .textoEyelash {
    max-height: 20%; }
  .iconos img {
    width: 6rem;
    height: auto; }
  .colorFooter {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center; }
    .colorFooter b {
      text-align: center;
      padding-left: 0rem; } }

@media (max-width: 380px) {
  .animate__animated.animate__shakeX {
    left: -70px; }
  .principal__titulo {
    font-size: 5.5rem;
    margin-top: 3rem; }
  .iconos strong {
    font-size: 1.3rem; }
  .botellitas {
    margin-top: 12rem;
    padding: 1rem; }
  .redesWhatsapp img {
    width: 10rem;
    height: auto; } }

@media (max-width: 360px) {
  .imagenBienvenida {
    height: 85rem; }
  .textoBotellitas {
    margin: 0rem; }
  .botellitas {
    margin-top: 15rem; } }

/* ////Clientes//// */
@media (max-width: 768px) {
  .animate__animated.animate__flipInY {
    display: none; }
  .mainSecundarios {
    grid-gap: 1rem;
    padding: 1.5rem; }
    .mainSecundarios img {
      width: 24rem; }
  .texto1 {
    padding-left: 1rem;
    font-size: 2rem; }
  .texto2 {
    padding-left: 1.4rem;
    font-size: 2rem; }
  .texto3 {
    padding-left: 1.8rem;
    font-size: 2rem; } }

@media (max-width: 768px) {
  .mainSecundarios img {
    transition: none;
    filter: none; }
  .mainSecundarios img:hover {
    width: 25rem; } }

@media (max-width: 500px) {
  .navFlex ul {
    display: flex;
    flex-direction: column;
    align-content: center; }
  .animate__animated.animate__flipInY {
    display: none; }
  .mainSecundarios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center; }
    .mainSecundarios img {
      max-width: 40rem;
      filter: none; } }

@media (max-width: 405px) {
  .encabezado img {
    height: 6rem;
    width: auto; } }

@media (max-width: 380px) {
  .encabezado img {
    display: none; } }

@media (max-width: 768px) {
  .menuSuperior nav {
    padding-top: 0rem;
    padding-bottom: 0rem; }
  .menuSuperior ul li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start; }
  .animate__animated.animate__flipInY {
    display: none; }
  .animacion img {
    width: 30rem;
    height: auto; }
  #formulario {
    grid-template-areas: "opciones ." " checkbox fieldset " "textarea textarea"; }
  fieldset {
    display: grid;
    justify-items: stretch;
    align-items: stretch; }
  .opciones {
    margin-left: 0px; }
  .bg-fondo {
    padding: 0.2rem; }
  p {
    margin-bottom: 0rem; }
  ul {
    margin-bottom: 0rem;
    padding-bottom: 2rem; } }

@media (max-width: 500px) {
  .menuSuperior nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    padding-top: 0rem;
    padding-bottom: 0rem; }
  .menuSuperior ul li {
    align-content: flex-start; }
  .animate__animated.animate__flipInY {
    display: none; }
  .navContacto {
    display: flex;
    justify-content: space-around; }
    .navContacto nav ul li {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: space-around; }
  #formulario {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0rem;
    font-size: 1.4rem; }
    #formulario h2 {
      font-size: 2rem; }
  .opciones {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 95px; }
  .animacion img {
    display: none; }
  .checkbox {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 1.4rem;
    width: 60%; }
    .checkbox h2 {
      color: #ff53d4; }
  fieldset {
    display: flex;
    flex-direction: column;
    margin-left: 0rem;
    place-items: center;
    padding-left: 0rem; }
  .formulario h1 {
    font-size: 2.7rem; }
  .formulario h3 {
    text-align: start; }
  /*/// Correcion campo de texto ///*/
  .fieldset {
    padding: 1rem; }
  .navFooter {
    margin: 0rem;
    padding: 0rem; }
  h4 {
    font-size: 1.4rem; }
  .instagramContacto {
    font-size: 1.6rem; }
  .copyFooter {
    justify-content: center;
    text-align: center; }
    .copyFooter b {
      padding-left: 0rem; } }

@media (max-width: 420px) {
  .opciones {
    margin-left: 70px; } }

@media (max-width: 380px) {
  .opciones {
    margin-left: 60px; }
  .botones {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  input[type="radio"] {
    width: 2rem; }
  .cb1 {
    padding-top: 0.8rem; } }

@media (max-width: 768px) {
  .animate__animated.animate__flipInY {
    display: none; }
  .sectionSecundarios {
    height: 240rem;
    padding: 6rem; }
    .sectionSecundarios p {
      text-align: start; }
  .iframe {
    max-width: 100%;
    height: auto; } }

@media (max-width: 500px) {
  .animate__animated.animate__flipInY {
    display: none; }
  .sectionSecundarios {
    height: fit-content;
    width: auto;
    padding: 3rem;
    font-size: 1.7rem; }
    .sectionSecundarios img {
      max-width: 49rem; }
  .pieParrafo {
    text-align: center;
    padding-left: 0rem; }
  .iframe {
    width: 49rem; } }

@media (max-width: 490px) {
  .sectionSecundarios img {
    max-width: 100%;
    height: auto; } }

@media (max-width: 480px) {
  .animate__animated.animate__flipInY {
    display: none; }
  .sectionSecundarios {
    height: 230rem;
    padding: 3rem;
    font-size: 1.7rem;
    margin: 0rem; }
    .sectionSecundarios img {
      max-width: 100%;
      height: auto; } }

@media (max-width: 460px) {
  .iframe {
    max-width: 100%;
    height: auto; }
  .sectionSecundarios img {
    max-height: 60rem;
    width: auto; } }

@media (max-width: 420px) {
  .iframe {
    max-width: 100%;
    height: auto; }
  .sectionSecundarios img {
    max-width: 100%;
    max-height: 53rem; } }

@media (max-width: 412px) {
  .sectionSecundarios {
    height: fit-content;
    width: auto; } }

@media (max-width: 380px) {
  .sectionSecundarios {
    height: fit-content;
    width: auto;
    padding: 3rem; }
    .sectionSecundarios img {
      max-width: 37rem; }
    .sectionSecundarios p {
      padding-top: 1.4rem;
      padding-bottom: 1.4rem; }
    .sectionSecundarios h1 {
      text-align: center; }
  .iframe {
    width: 36rem; } }

/* Medida de pantalla pequeña más usada estos días segun investigación  */
@media (max-width: 360px) {
  .iframe {
    width: 35rem; }
  .sectionSecundarios img {
    width: 35rem; }
  .iconoUbicacion {
    display: none; } }

@media (max-width: 345px) {
  .iframe {
    width: 34rem; }
  .sectionSecundarios {
    padding: 2rem; }
    .sectionSecundarios img {
      width: 34rem; }
    .sectionSecundarios h1 {
      text-align: center; } }

@media (max-width: 335px) {
  .iframe {
    width: 33rem; }
  .sectionSecundarios img {
    width: 33rem; } }

@media (max-width: 320px) {
  .iframe {
    width: 31rem; }
  .sectionSecundarios img {
    width: 31rem; } }

@media (max-width: 768px) {
  .menuSuperior nav {
    padding-top: 0rem;
    padding-bottom: 0rem; }
  .menuSuperior ul li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start; }
  .animate__animated.animate__flipInY {
    display: none; }
  .mainPreguntas {
    height: 150rem;
    margin: 0rem;
    padding: 3rem; }
    .mainPreguntas .bg-fondo {
      padding: 0.2rem; }
  .mainPreguntas strong {
    font-size: 2.4rem; }
  .accordion-body strong {
    font-size: 2rem; } }

/* ///BREAKPOINT CELULAR/// */
@media (max-width: 600px) {
  .mainPreguntas {
    height: 190rem;
    font-size: 1.8rem; } }

@media (max-width: 500px) {
  .menuSuperior nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    padding-top: 0rem;
    padding-bottom: 0rem; }
  .menuSuperior ul li {
    align-content: flex-start; }
  .animate__animated.animate__flipInY {
    display: none; }
  .mainPreguntas {
    height: 170rem;
    margin: 0rem;
    padding: 3rem;
    align-content: center;
    text-align: center;
    justify-content: space-evenly;
    font-size: 1.7rem; }
  .mainPreguntas strong {
    font-size: 1.9rem; }
  .accordion-body strong {
    font-size: 1.7rem; }
  .grid {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 170rem;
    padding-top: 3rem;
    padding-bottom: 3rem; }
  .pieParrafo {
    text-align: center;
    padding-left: 0rem; } }

@media (max-width: 460px) {
  .mainPreguntas {
    height: max-content; }
  p {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
  strong {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; } }

@media (max-width: 420px) {
  .mainPreguntas {
    height: max-content; } }

@media (max-width: 380px) {
  .mainPreguntas {
    height: fit-content; }
    .mainPreguntas h1 {
      text-align: center; } }
