* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Lato", sans-serif;
	
}

.contenedor{
	background: rgba(255, 255, 255, 1);
	background: -moz-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 9%,
		rgba(255, 204, 232, 1) 35%,
		rgba(255, 173, 216, 1) 48%,
		rgba(255, 158, 211, 1) 100%
	);
	background: -webkit-gradient(
		left top,
		right bottom,
		color-stop(0%, rgba(255, 255, 255, 1)),
		color-stop(9%, rgba(255, 255, 255, 1)),
		color-stop(35%, rgba(255, 204, 232, 1)),
		color-stop(48%, rgba(255, 173, 216, 1)),
		color-stop(100%, rgba(255, 158, 211, 1))
	);
	background: -webkit-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 9%,
		rgba(255, 204, 232, 1) 35%,
		rgba(255, 173, 216, 1) 48%,
		rgba(255, 158, 211, 1) 100%
	);
	background: -o-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 9%,
		rgba(255, 204, 232, 1) 35%,
		rgba(255, 173, 216, 1) 48%,
		rgba(255, 158, 211, 1) 100%
	);
	background: -ms-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 9%,
		rgba(255, 204, 232, 1) 35%,
		rgba(255, 173, 216, 1) 48%,
		rgba(255, 158, 211, 1) 100%
	);
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 9%,
		rgba(255, 204, 232, 1) 35%,
		rgba(255, 173, 216, 1) 48%,
		rgba(255, 158, 211, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff9ed3', GradientType=1 );
	font-size: 1.6rem;
}

.principal {
	background-color: #c4ccff;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: space-evenly;
	height: 120rem
	;
}

.principal__titulo {
	color: #dd4fb5;
	font-size: 9rem;
	font-family: "Dancing Script", cursive;
	margin-left: 20px;
	margin-top: 20px;
}

.principal__titulo--bienvenida {
	color: #64dbf8;
	text-align: center;
	font-size: 2rem;
}

.principal__titulo--link1 {
	color: #7747fc;
	text-align: right;
}


#fondoPagina2 {
	background-color: #e2fdfd;
}


.menuSuperior {
	z-index: 1000;
}

.menuSuperior nav {
	background-color: #c89effc2;
	background-image: url(../multimedia/mano\ descendiendo1.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	display: flex;
	flex-direction: row;
	justify-content:  flex-end;
	margin: 0px;
	padding-top: 4rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	padding-bottom: 4rem;
	text-align: right;
}

.menuSuperior ul li {
	color: aquamarine;
	list-style-type: square;
	font-size: 2rem;
	font-weight: normal;
}
.menuSuperior ul li {
	display: inline-block;
}

.menuSuperior {
	position: sticky;
	top: 0%;
}

.home {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.clientes {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.contacto {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.preguntas {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

a {
	text-decoration: none;
}

.espaciadoLineas {
	line-height: 1.4;
}

.imagenLogo {
	width: 100px;
	height: 120px;
	background-position: 0%;
	z-index: 1;
}

.imagenLogo {
	position: relative;
}

.animate__animated.animate__shakeX{
	position: absolute;
	top: -50px;
	left: -60px;
	right: 0px;
	bottom: 20px;
}

.animate__animated.animate__shakeX img{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.imagenBienvenida {
	background-image: url(../multimedia/imagenpestaniasunias1.jpg);
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 0.3rem;
	margin-right: 0.6rem;
	margin-left: 0.6rem;
	margin-bottom: 0.4rem;
	padding-top: 0.2rem;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	padding-bottom: 0.2rem;

	border-top-style: inset;
	border-left-style: inset;
	border-bottom-style: none;
	border-left-color: #c89eff;
	border-top-color: #ff53d4;
	border-width: 2px;
}

.imagenBienvenida p{
	font-size: 3rem;
	text-align: center;
}

.grid p{
	font-size: 2rem;
}

.redesFacebook img {
	width: 5rem;
}

.redesFacebook {
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 10px;
}

.redesInsta img {
	width: 5rem;
}

.redesInsta {
	display: block;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 10px;
}

.redesWhatsapp img {
	width: 12rem;
}
/* DEBAJO VIENE LINK A WSP QUE POR AHORA NO TENGO POR LO QUE PONGO OTRO LINK SORPRESA */
.redesWhatsapp {
	position: fixed;
	right: 0px;
	bottom: 60px;
}

/* LAS 3 IMAGENES SUELTAS DEL INDEX */
.caracteristicas {
	position: relative;

}

.iconos{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr ;
	grid-template-areas:
	"textoIcono1 textoIcono2 textoIcono3"
	"icono1 icono2 icono3"
	;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;

}
.iconos{
	padding-top: 4rem;
	padding-bottom: 4rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.textoIcono1{
	grid-area: textoIcono1;
}

.textoIcono2{
	grid-area: textoIcono2;
}

.textoIcono3{
	grid-area: textoIcono3;
}

.icono1{
	grid-area: icono1;
}

.icono2{
	grid-area: icono2;
	margin-bottom: 10px;
}

.icono3{
	grid-area: icono3;
}


.iconos img{
	width: 10rem;
	height: auto;
}

.iconos p{
	text-align: center;
	align-self: center;
}

.colorFooter {
	color: black;
	align-self: flex-start;
	font-size: 1.3rem;
}

/* CSS Para html de preguntas */

.h1Faqs {
	color: #7747fc;
	text-align: start;
}

.mainSecundarios h3{
	color: #8093f1;
	text-align: center;
}

.parrafo {
	text-align: center;
}

.navFooter{
	background-color: #D59FF5;
	padding: 5rem;
	font-size: 1.5rem;
}

.navFooter ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 0rem;
}

.navFooter li{
	padding: 2px;
}

.menuSecundario ul li {
	display: inline-block;
	margin: 8px;
	padding: 8px;
	text-align: right;
}

.mainSecundarios {
	font-size: 1.6rem;
	text-align: center;
}

.subtituloSecundarios {
	font-weight: 700;
	color: #8093f1;
	font-size: 2.2rem;
}

/* =/*::::: ESTILOS PARA PAGINA CONTACTO :::::: */
input[type="text"] {
	color: #c89eff;
}

input[type="email"] {
	color: #c89eff;
}

input[type="password"] {
	color: #c89eff;
}

select {
	border: none;
	outline: none;
	color: purple;
}

option {
	background-color: #c4ccff;
}


input:focus {
	background-color: #c4ccff;
	color: purple;
	border: none;
	padding: 0.6rem;
	transition: 0.5s linear;
}

#formulario input:checked{
	color: #7747fc;
}

input:checked {
	color: #7747fc;
}


input[type="radio"] {
	color: #b388eb;
	width: 40px;
	margin: 10px;
	padding: 10px;
}

input[type="checkbox"] {
	width: 40px;
	margin: 10px;
}


#formulario input{
	border: none;
	outline: none;
	cursor: pointer;
}
#formulario textarea {
	color: #c89eff;
	outline: none;
}

#formulario textarea:focus{
	background: #c4ccff;
	color: purple;
}

#formulario .botones input{
	background-color:rgb(153, 153, 255);
	color: white;
	margin: 4px;
	padding: 8px;
	border-radius: 4px;
}

.formulario {
	font-size: 1.5rem;
}

#formulario {
	background-color: #fcadefda;
	font-size: 1.7rem;
	text-align: left;
	padding: 2rem;
}

h4 {
	font-size: 2rem;
	color: #ff6ad5;
	padding: 1.5rem;
}


/* grilla con imagen en izq y texto der */
.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr 2fr;
	grid-template-areas:
	"lorito textoLorito"
	"cacatua textoCacatua"
	;
	justify-items: center;
	align-items: center;
}

.lorito{
	grid-area: lorito;
	justify-self: center;
	align-self: center;
	
}

.fotoLorito{
	width: 100%;
	height: auto;
	padding-left: 12rem;
}

.textoLorito{
	grid-area: textoLorito;
	padding: 2rem;
	margin: 2rem;
}

.cacatua{
	grid-area: cacatua;
	justify-self:center;
	align-self: center;
	padding: 3rem;
	margin: 5rem;
	
	
}

.textoCacatua{
	grid-area: textoCacatua;
	padding: 2rem;
	margin: 2rem;
}

.mainSecundarios img{
	width: 40rem;
	height: auto;
	margin: 0rem;
	transition: width 2s;
	filter: grayscale(100%);
}

.mainSecundarios{
	background-color: #CFBFB8;
}

	/* /////GRILLA DE GALERIA /////*/
.mainSecundarios{
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: 1fr auto;
	grid-template-areas: 
	"texto1 imagen1 imagen2"
	" . imagen3 imagen4"
	" . imagen5 imagen6"
	"texto2 imagen7 imagen8"
	"texto3 imagen9 imagen10"
	;
	
	grid-gap: 3rem;
	justify-content: end;
	justify-items: end;
	align-items: center;
	margin: 0rem;
	padding: 6rem;
	
}

.galeria1{
	grid-area: imagen1;
	
}

.galeria2{
	grid-area: imagen2;
}

.galeria3{
	grid-area: imagen3;
}

.galeria4{
	grid-area: imagen4;
}

.galeria5{
	grid-area: imagen5;
}

.galeria6{
	grid-area: imagen6;
}

.galeria7{
	grid-area: imagen7;
}

.galeria8{
	grid-area: imagen8;
}
.galeria9{
	grid-area: imagen9;
}

.galeria10{
	grid-area: imagen10;
}

.texto1{
	grid-area: texto1;
	font-size: 3rem;
}

.texto2{
	grid-area: texto2;
	font-size: 3rem;
}

.texto3{
	grid-area: texto3;
	font-size: 3rem;
}


.navFlex ul{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:flex-start;
	font-size: 1.6rem;
	background-color: #c89effc2;
	background-image: url(../multimedia/mano\ descendiendo1.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	padding: 5rem;
}

.navFlex ul li{
	list-style: none ;
	margin: 0px;
	padding: 5px;
}

/* /////CONTACTO///// */

#formulario{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr ;
	grid-template-areas: 
	"opciones ."
	" checkbox fieldset "
	"textarea botones" ;
	row-gap: 3rem;
	column-gap: 3rem;
	justify-content: center;
	align-content: center;
	justify-items: start;
	place-items: center;

} 

.opciones{
	grid-area: opciones;
	display: grid;
	grid-column: start;
	font-size: 1.8rem;
	justify-self: start;
	margin-left: -170px;
}

.formulario h2{
	color: #ff53d4;
	font-size: 2.5rem;
	margin: 0.5rem;
}

.fieldset{
	grid-area: fieldset;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	place-content: center;
	align-items: stretch;
	padding-left: 2rem;

}

.textarea{
	grid-area: textarea;
	justify-self: center;
	place-items: center;
}

.botones{
	grid-area: botones;
}


.checkbox{
	grid-area: checkbox;
	display: flex;
	flex-direction: column ;
	justify-content: start;
	align-content: flex-start;
	justify-items:start;
	font-size: 1.8rem;
	
}


.checkbox h2{
	color: #ff53d4;
    font-size: 2.5rem;
    margin: 0.5rem;
}

/* .instagramContacto {
	display: flex;
	flex-direction: column;
	align-content: center;
	background-color: #c89effc2;
	height: 20rem;
	justify-content: space-evenly;
	font-size: 2rem;
	color: #D59FF5;
	
}
 */
.instagramContacto a{
	align-items: center;
	margin: 0rem;
	padding: 0rem;
	align-self: center;

}

.instagramContacto h5{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: center;
	margin: 0rem;
	padding: 0rem;
	color: #7747fc;

}


.instagramContacto img{
	width: 5rem;
}


.navContacto{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	margin: 0px;
	padding: 8px;
	font-size: 1.6rem;
	align-items: center;
	background-color: #D5B5FF;
}

.resaltarFormulario{
	font-size: 4rem;
	color: #8093f1;
}

#formulario h3{
	color: #b388eb;
}

.fondoRedes{
	display: flex;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
	background-color: #D59FF5;
}

/* #final{
	display: flex;
	flex-direction: column;
	justify-content:center;
	justify-items: center;
	align-items: center;
	align-content: center ;
	padding:2rem;
	background-color: #c89effc2;
} */

.parrafoInicio{
	align-self: center;
}


.copyFooter{
	background-color: #D59FF5 ;
	color: black;
	font-size: 1.3rem;
}


.gemaNails{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

/* /////////RESPONSIVE /////////// */

/* /////BREAKPOINT .INDEX///// */


/* ///BREAKPOINT TABLET/// */
@media (max-width:768px){
	.contenedor{
		display: flex;
		flex-direction: column;
	}

.menuSuperior nav{
	padding-top: 0rem;
	padding-bottom: 0rem;
}

	.menuSuperior ul li{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: flex-start;
	}

	.bg-fondo {
		padding-top: 1rem;
		padding-bottom: 0.3rem;
	}

	.imagenBienvenida p{
		font-size: 1.8rem;
	}

	.grid{
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		height: 200rem;
		justify-content: space-evenly;
		padding: 2rem;
	}

	.fotoLorito{
		height: 100%;
	}

	.cacatua{
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding: 5rem;
	}

	.cacatuaImage{
		height: 100%;
		width: auto;
	}

	.principal{
		display: flex;
		flex-direction: column;
		margin-bottom: 15rem;
	}

.espaciadoLineas p{
	max-height: 80rem;
	
}

	.textoLorito{
		flex-grow: 1;
		max-height: 200px;
	}
}

/* /////BREAKPOINT CELULAR INDEX////// */

@media (max-width:500px){
	.contenedor {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: center;
		width: 100%;;
	}

.menuSuperior nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content:flex-start;
	padding-top: 0rem;
	padding-bottom: 0rem;
}
.menuSuperior ul li{
	align-content: flex-start;
}
.principal__titulo--link1{
	display: none ;
}

	.lorito{
		width: 80%;
		height: auto;
		align-content: center;
		justify-content: center;
	}

	.fotoLorito{
		padding-left: 5rem;
	}

.cacatuaImage{
	width: 100%;
	height:22rem;
	align-content: center;
	justify-content: center;
}

.textoLorito{
	max-height: 20%;
}

.iconos img{
	width: 6rem;
	height: auto;
}

/* #final{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;


} */

	.colorFooter{
		display: flex;
		flex-direction: row;
		justify-self: center
	;
	}
}

	/* ////MEDIA QUERIES CLIENTES///// */

	@media (max-width: 800px) {
		.mainSecundarios{
			justify-content: space-around;
			grid-gap: 1rem ;
			padding: 5rem;
		}
		.mainSecundarios img{
			width: 30rem;
		}

		.texto1{
			padding-left: 1rem;
			font-size: 2rem;
		}

		.texto2{
			padding-left: 1.4rem;
			font-size: 2rem;
		}

		.texto3{
			padding-left: 1.8rem;
			font-size: 2rem;
		}
	}

	@media (max-width:500px) {
		.navFlex ul{
			display: flex;
			flex-direction: column;
			align-content: center;
		}
		
		.mainSecundarios{
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-content: center;
		}

		.mainSecundarios img{
			max-width: 30rem;
		}
	}

	/* ////MEDIA QUERIES CONTACTO//// */


	@media (max-width:768px) {
		#formulario {
			grid-template-areas:
			"opciones ."
			" checkbox fieldset "
			"textarea textarea"
		}

		fieldset {
			display: grid;
			justify-items: stretch;
			align-items: stretch;
		}
		
		.opciones {
			margin-left: 0px;
		}
	}
	@media (max-width: 500px) {

		.navContacto{
			display:flex;
			justify-content: space-around;
		}

		.navContacto nav ul li{
			display: flex;
			flex-direction: column;
			align-items: center;
			align-content: center;
			justify-content: space-around;
		}

		#formulario{
			display: flex;
			flex-direction: column;
			align-content: center;
			align-items: center;
			padding: 1rem;
			margin: 0rem;
			font-size: 1.4rem;
		}

		#formulario h2{
			font-size: 2rem;
		}

		.opciones {
			font-size: 1.4rem;
			display: flex;
			flex-direction: column;
			align-content: center;
			margin-left: 0px;
		}

		.checkbox{
			display: flex;
			flex-direction: column;
			align-content: center;
			font-size: 1.4rem;
			width: 60%;
		}

		fieldset {
			display: flex;
			flex-direction: column;
			margin-left: 0rem;
		}

		.checkbox h2{
			color: #ff53d4;
		}

		.formulario h3 {
			text-align: center;
		}
		
/*/// Correcion campo de texto ///*/
		fieldset {
			place-items: center	;
			padding-left: 0rem;
		}

		.fieldset{
			padding: 1rem;
		}

		.navFooter{
			margin: 0rem;
			padding: 0rem;
		}


		h4{
			font-size: 1.4rem;
		}

		.instagramContacto {
			font-size: 1.6rem;
		}

	}

	/* ////pagina NOSOTROS//// */
	
	.sectionSecundarios{
		display:flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		height: 200rem;
		justify-content: space-evenly;
		font-size: 2rem;
		background-color: #dee2ff;
		padding: 6rem;
	}

.piePaginas{
	background-color: #D59FF5;
	padding: 2px;
	font-size: 1.5rem;
}

.piePaginas ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.6rem;

}

.piePagina__index{
	display: flex;
	flex-direction: column;
}

.piePagina__index ul{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.6rem;
	padding-left: 0rem;
}
.piePagina__index a{
	color: #7747fc;
}

/* ///BREAKPOINT PARA CELULAR -NOSOTROS/// */
@media (max-width:500px){
	.sectionSecundarios{
		height: 230rem;
		padding: 3rem;
		font-size: 1.7rem;
	}
}


/* ///// pagina PREGUNTAS///// */

.mainPreguntas{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: space-evenly;
	height: 110rem;
	margin: 0rem;
	padding: 4rem 6rem 4rem 6rem;
	text-align: center;
}

.mainPreguntas{
	background-color: #c4ccff;
	font-size: 2rem;
}

.mainPreguntas h3{
	color: #e574bc;
}

.mainPreguntas strong {
	font-size: 2rem;
}

/* ////BREAKPOINT TABLET PREGUNTAS//// */

@media (max-width:768px){
	.mainPreguntas{
		height: 150rem;
		margin: 0rem;
		padding: 3rem;
	}

	.mainPreguntas strong {
		font-size: 2rem;
	}
}


/* ///BREAKPOINT CELULAR/// */

@media (max-width:500px){
	.mainPreguntas{
		height: 170rem;
		margin: 0rem;
		padding: 3rem;
		align-content: center;
		text-align: center;
		justify-content: space-evenly;
		font-size: 1.7rem;
	}

	.mainPreguntas strong {
		font-size: 1.7rem;
	}
	.grid{
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		height: 170rem;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

}


/* :::::ANIMACIONES:::::: */

.mainSecundarios img:hover{
	width: 50rem;
	border: solid #7E78D2;
	filter: none;
}

/* ///CORRECCION DE MEDIA QUERIES BREAKPOINT TABLET CLIENTES//// */
@media (max-width:768px){
	.mainSecundarios img{
		transition: none;
		filter: none;
	}
	.mainSecundarios img:hover{
		width: 30rem;
	}

}

@media (max-width:500px){
	.mainSecundarios img{
		filter: none;
	}
	
}

/* VELOCIDAD DE ANIMACION DEL LOGO CON ANIMATE CSS  */
.animate__animated.animate__flipInY {
	--animate-duration: 3s;
}

.animate__animated.animate__flipInY {
	width: 70%;
	height: auto;
}

/* GRADIENTE NUEVO PARA GALERIA */
.mainSecundarios{
	background: rgb(255,168,214);
	background: linear-gradient(180deg, rgba(255,168,214,1) 2%, rgba(195,233,241,1) 42%, rgba(213,181,255,1) 99%);}


@keyframes Preguntas {
	0%{
		opacity: 100%;
	}


	25%{
		opacity: 75%;
	}

	50%{
		opacity: 50%;

	}
	75%{
		opacity: 25%;
	}

	100%{
		opacity: 0%;
	}
}

.h1Faqs {
	animation-name: Preguntas;
	animation-duration: 6s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
}

/* -----BOOTSTRAPS STYLES----- */

.bg-fondo{
	background-color: #c89effc2;
	background-image: url(../multimedia/mano\ descendiendo1.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	margin: 0px;
	padding-top: 4rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	padding-bottom: 4rem;
}

/* MODIFICACION ESTILO FUENTE DE NAVBAR BTS */
.nav-link{
	font-family: "Lato", sans-serif;
	font-size: 2rem;
	font-weight: normal;
	color: #551A8B;
}

.navbar-nav .nav-link.active{
	color: #7E78D2;
}

.navbar-brand{
	display: none;
}

/* MODIFICACION DE PADDING ELEMENTOS DE NAVBAR BTS */
.navbar{
	--bs-navbar-nav-link-padding-x: 0.8rem;
}
.navbar-nav {
    --bs-nav-link-padding-x: 0.8rem;
    --bs-nav-link-padding-y: 0.8rem;
}

@media (max-width:768px){
	.bg-fondo{
		padding: 0.2rem;
	}
}

p{
	margin-bottom: 0rem;
}

.piePaginas ul a{
	color: #7747fc;
}

ul a{
	color: #7747fc;
}

a {
	color: #7747fc;
}

ul{
	margin-bottom: 0rem;
	padding-bottom: 2rem;
}

/* MODIFICACION PAGINA PREGUNTAS ACORDION BTS */

/* zona del botón del desplegable superior */

.accordion-button {
	color: #FFFF;
	background-color: #e574bc;
}
.accordion-button:not(.collapsed) {
	color: #7747fc;
	background-color: #e574bc;
}
.accordion-button{
	font-size: 1.8rem;
}

/* zona del fondo del acordion */

.accordion {
    --bs-accordion-bg: #c4ccff;
    --bs-accordion-border-color: #c4ccff ;
    --bs-accordion-btn-focus-border-color: #7747fc;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(177, 81, 255, 0.781);
    --bs-accordion-active-color: #7747fc;
    --bs-accordion-active-bg: #e7f1ff;
}


.piePaginas ul{
	padding-left: 0rem;
}