/* ///BREAKPOINT TABLET/// */

@media (max-width:900px){
    .animate__animated.animate__flipInY{
        display: none;
    }
    .bg-fondo{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .sectionImage1{
        width: 85%;
        height: auto;
        padding-left: 1rem;
    }
    .sectionImage2{
        width: 85%;
        height: auto;
    }
}


@media (max-width:768px){
	.contenedor{
		display: flex;
		flex-direction: column;
	}
    .animate__animated.animate__flipInY{
        display: none;
    }
.menuSuperior nav{
	padding-top: 0rem;
	padding-bottom: 0rem;
}

	.menuSuperior ul li{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: flex-start;
	}

	.bg-fondo {
		padding-top: 1rem;
		padding-bottom: 0.3rem;
	}

	.imagenBienvenida p{
		font-size: 1.8rem;
	}

	.grid{
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		height: 200rem;
		justify-content: space-evenly;
		padding: 2rem;
	}

	.sectionImage1{
        padding-left: 14rem;
		height: 100%;
	}

	.botellitas{
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding: 5rem;
	}

	.sectionImage2{
		height: 100%;
		width: auto;
	}

	.principal{
		display: flex;
		flex-direction: column;
		margin-bottom: 15rem;
	}

.espaciadoLineas p{
	max-height: 80rem;
	
}

	.textoEyelash{
		flex-grow: 1;
		max-height: 200px;
	}
}
/* ///BREAKPOINTS INTERMEDIOS ///*/
@media (max-width:520px){
    .sectionImage2{
        width: 40rem;
    }
    .botellitas{
        padding: 0rem;
        margin-top: 6rem;
    }
}

@media (max-width:560px){
    .sectionImage2{
        width: 40rem;
    }
    .botellitas{
        padding: 0rem;
    }
}
@media (max-width:640px){
    .sectionImage2{
        width: 58rem;
    }
    .botellitas{
        padding: 0rem;
    }
}

/* /////BREAKPOINT CELULAR INDEX////// */

@media (max-width:500px){
	.contenedor {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: center;
		width: 100%;;
	}

    .animate__animated.animate__flipInY{
        display: none;
    }

.menuSuperior nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content:flex-start;
	padding-top: 0rem;
	padding-bottom: 0rem;
}
.menuSuperior ul li{
	align-content: flex-start;
}
.principal__titulo--link1{
	display: none ;
}

	.eyelash{
		width: 80%;
		height: auto;
		align-content: center;
		justify-content: center;
	}

    .grid{
        padding: 0rem;
    }
	.sectionImage1{
		padding-left: 5rem;
	}

.sectionImage2{
	width: 100%;
	height:auto;
	align-content: center;
	justify-content: center;
}

.textoEyelash{
	max-height: 20%;
}

.iconos img{
	width: 6rem;
	height: auto;
}

	.colorFooter{
		display: flex;
		flex-direction: row;
        justify-items: center;
        justify-content: center;
        b{
            text-align: center;
        }
	}
}
@media (max-width:380px){
    .animate__animated.animate__shakeX{
        left: -70px;
    }
    .principal__titulo{
        font-size: 5.5rem;
        margin-top: 3rem;
    }
    .iconos strong{
        font-size: 1.3rem;
    }
    .botellitas {
        margin-top: 12rem;
        padding: 1rem;
    }
}

@media (max-width:360px){
    .imagenBienvenida{
        height: 85rem;
    }
    .textoBotellitas{
        margin: 0rem;
    }
    .botellitas{
        margin-top: 15rem;
    }
}

/* ////Clientes//// */
@media (max-width: 768px) {
    .animate__animated.animate__flipInY{
        display: none;
    }
    .mainSecundarios{
        grid-gap: 1rem ;
        padding: 1.5rem;
        img{
            width: 30rem;
        }
    }

    .texto1{
        padding-left: 1rem;
        font-size: 2rem;
    }

    .texto2{
        padding-left: 1.4rem;
        font-size: 2rem;
    }

    .texto3{
        padding-left: 1.8rem;
        font-size: 2rem;
    }
}
@media (max-width:768px){
	.mainSecundarios img{
		transition: none;
		filter: none;
	}
	.mainSecundarios img:hover{
		width: 30rem;
	}
}

@media (max-width:500px) {
    .navFlex ul{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .animate__animated.animate__flipInY{
        display: none;
    }
    .mainSecundarios{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        img{
            max-width: 30rem;
            filter: none;
        }
    }
}

@media (max-width:405px) {
    .encabezado img{
        height: 6rem;
        width:  auto;
    }
}

@media (max-width:380px) {
    .encabezado img{
        display: none;
    }
}


///////Contacto/////////
@media (max-width:768px) {
    .menuSuperior nav{
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    
        .menuSuperior ul li{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: flex-start;
        }
    
        .animate__animated.animate__flipInY{
            display: none;
        }
    #formulario {
        grid-template-areas:
        "opciones ."
        " checkbox fieldset "
        "textarea textarea"
    }

    fieldset {
        display: grid;
        justify-items: stretch;
        align-items: stretch;
    }
    
    .opciones {
        margin-left: 0px;
    }
    .bg-fondo{
		padding: 0.2rem;
	}

    p{
	margin-bottom: 0rem;
    }
    ul{
	margin-bottom: 0rem;
	padding-bottom: 2rem;

    }
}
@media (max-width: 500px) {

    .menuSuperior nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content:flex-start;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    .menuSuperior ul li{
        align-content: flex-start;
    }
    .animate__animated.animate__flipInY{
        display: none;
    }
    .navContacto{
        display:flex;
        justify-content: space-around;
        nav ul li{
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: space-around;
        }
    
    }

    #formulario{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding: 1rem;
        margin: 0rem;
        font-size: 1.4rem;
        h2{
            font-size: 2rem;
        }
    
    }

    .opciones {
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-left: 95px;
    }

    .animacion img{
        display: none;
    }

    .checkbox{
        display: flex;
        flex-direction: column;
        align-content: center;
        font-size: 1.4rem;
        width: 60%;
        h2{
            color: #ff53d4;
        }
    }

    fieldset {
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
        place-items: center	;
        padding-left: 0rem;
    }
    
    .formulario h1{
        font-size: 2.7rem;
    }
    .formulario h3 {
        text-align: start;
    }
    
/*/// Correcion campo de texto ///*/

    .fieldset{
        padding: 1rem;
    }

    .navFooter{
        margin: 0rem;
        padding: 0rem;
    }

    h4{
        font-size: 1.4rem;
    }

    .instagramContacto {
        font-size: 1.6rem;
    }
    .copyFooter{
        justify-content: center;
        text-align: center;
    }
}

@media (max-width:380px){
    .opciones{
        margin-left: 65px;
    }
    .botones{
        padding-top: 2rem;
        padding-bottom:2rem;
    }
    input[type="radio"]{
        width: 2rem;
    }
    .cb1{
        padding-top: 0.8rem;
    }
}
///// nosotros /////

@media (max-width:768px){
    .animate__animated.animate__flipInY{
        display: none;
    }
    .sectionSecundarios {
        height: 240rem;
        padding: 6rem;
        p{
            text-align: start;
        }
    }
    .iframe{
        max-width: 100%;
        height: auto;
    }
}

@media (max-width:500px){
    .animate__animated.animate__flipInY{
        display: none;
    }
	.sectionSecundarios{
		height: 230rem;
		padding: 3rem;
		font-size: 1.7rem;
        img{
            max-width: 49rem;
        }
	}
    .pieParrafo{
        text-align: center;
    }
    .iframe{
        width: 49rem;
    }
}

@media  (max-width: 490px){
    .sectionSecundarios img{
        max-width: 100%;
        height: auto;
    }
}
@media  (max-width: 480px){
    .animate__animated.animate__flipInY{
        display: none;
    }
.sectionSecundarios{
    height: 230rem;
    padding: 3rem;
    font-size: 1.7rem;
    margin: 0rem;
    img{
        max-width: 100%;
        height: auto;
    }
}
}
@media (max-width:460px){
    .iframe{
        max-width: 100%;
        height: auto;
    }
    .sectionSecundarios img{
        max-width: 100%;
        height: auto;
    }
}
@media (max-width:420px){
    .opciones{
        margin-left: 70px;
    }
}

@media (max-width:420px){
    .iframe{
        max-width: 100%;
        height: auto;
    }
    .sectionSecundarios img{
        max-width: 100%;
        height: auto;
    }
}

@media (max-width:380px){
    .sectionSecundarios{
        height: fit-content;
        width: auto;
        padding: 3rem;
        img{
            max-width: 37rem;
        }
        p{
            padding-top: 1.4rem;
            padding-bottom: 1.4rem;
        }
    }
    .iframe{
        width: 36rem;
    }

}
/* Medida de pantalla pequeña más usada estos días segun investigación  */
@media (max-width: 360px){  
    .iframe{
        width: 35rem;
    }
    .sectionSecundarios{
        img{
            width: 35rem;
        }
}
    .iconoUbicacion{
        display: none;
    }
}

@media (max-width:345px){
    .iframe {
        width: 34rem;
    }
    .sectionSecundarios{
        img{
            width: 34rem;
        }
        h1{
            text-align: center;
        }
        padding: 2rem;
}
}

@media (max-width:335px){
    .iframe {
        width: 33rem;
    }
    .sectionSecundarios{
        img{
            width: 33rem;
        }
}
}

@media (max-width:320px){
.iframe {
    width: 32rem;
}
.sectionSecundarios{
    img{
        width: 32rem;
    }
}
}
///// preguntas /////

@media (max-width:768px){
    .menuSuperior nav{
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    
        .menuSuperior ul li{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: flex-start;
        }
        .animate__animated.animate__flipInY{
            display: none;
        }
	.mainPreguntas{
		height: 150rem;
		margin: 0rem;
		padding: 3rem;
        .bg-fondo{
            padding: 0.2rem;
        }
	}

	.mainPreguntas strong {
		font-size: 2rem;
	}
}

/* ///BREAKPOINT CELULAR/// */

@media (max-width:600px){
    .mainPreguntas{
        height: 190rem;
    }
}

@media (max-width:500px){
    .menuSuperior nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content:flex-start;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    .menuSuperior ul li{
        align-content: flex-start;
    }
    .animate__animated.animate__flipInY{
        display: none;
    }
	.mainPreguntas{
		height: 170rem;
		margin: 0rem;
		padding: 3rem;
		align-content: center;
		text-align: center;
		justify-content: space-evenly;
		font-size: 1.7rem;
	}

	.mainPreguntas strong {
		font-size: 1.7rem;
	}
	.grid{
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		height: 170rem;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

@media (max-width:420px){
    .mainPreguntas{
        height: 184rem;
    }
}
@media (max-width:380px){
    .mainPreguntas {
        height: fit-content;
    }
}
