* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Lato", sans-serif;
	
}
/* MENU DE NAV SUPERIOR DE PAG CONTACTO */
.bg-fondo{
	background-color: $Navbar;
	background-image: url(../multimedia/mano.descendiendo1.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	margin: 0px;
	padding-top: 2rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	padding-bottom: 2rem;
	a{
		transition: all 0.2s ease-in-out;
	}
	a:hover {
			color: #ffffff;
			transform: scale(1.1);
	}
}
/* LOGO ANIMADO NAVBAR */
.animate__animated.animate__flipInY{
	width: 8rem ;
	justify-self: flex-start;
	justify-items: flex-start;
	margin-left: 8rem;
}
.animate__animated.animate__flipInY{
	--animate-duration: 2s;
}

/* MODIFICACION ESTILO FUENTE DE NAVBAR BTS */
.nav-link{
	font-family: "Lato", sans-serif;
	font-size: 2rem;
	font-weight: normal;
	color: $textoNavbar;
}

.navbar-nav .nav-link.active{
	color: #7E78D2;
}

.navbar-brand{
	display: none;
}
/* MODIFICACION DE PADDING ELEMENTOS DE NAVBAR BTS */
.navbar{
	--bs-navbar-nav-link-padding-x: 0.8rem;
}
.navbar-nav {
    --bs-nav-link-padding-x: 0.8rem;
    --bs-nav-link-padding-y: 0.8rem;
}
/* ID PRINCIPAL DE LA PAGINA UTILIZANDO MAIN */
#formulario{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr ;
	grid-template-areas: 
	"opciones ."
	" checkbox fieldset "
	"textarea botones" ;
	row-gap: 3rem;
	column-gap: 3rem;
	justify-content: center;
	align-content: center;
	justify-items: start;
	place-items: center;
    background-color: #fcadefda;
    font-size: 1.7rem;
    text-align: left;
    padding: 2rem;
    h3{
	color: #b388eb;
}
} 
/* CHECKBOX DEL FORMULARIO */
.opciones{
	grid-area: opciones;
	display: grid;
	grid-column: start;
	font-size: 1.8rem;
	justify-self: start;
	margin-left: -90px;
}

.formulario h1{
	color: #644fdd;
	font-size: 3rem;
}
.formulario h2{
	color: #ff53d4;
	font-size: 2.5rem;
	margin: 0.5rem;
}
.animacion img{
	width: 40rem;
	height: auto;
}
.fieldset{
	grid-area: fieldset;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	place-content: center;
	align-items: stretch;
	padding-left: 2rem;
}

.textarea{
	grid-area: textarea;
	justify-self: center;
	place-items: center;
}

.botones{
	grid-area: botones;
}

/* RADIO BUTTONS DEL FORMULARIO */
.checkbox{
	grid-area: checkbox;
	display: flex;
	flex-direction: column ;
	justify-content: start;
	align-content: flex-start;
	justify-items:start;
	font-size: 1.8rem;
    h2{
        color: #ff53d4;
        font-size: 2.5rem;
        margin: 0.5rem;
    }
}

/* :::Ajustes checkbox y radio buttons ::::*/
.cb1 {
	display: flex;
	align-items: center;
	padding: 0.3rem;
}

.cb2{
	padding: 0.3rem;
}

.cb3{
	padding: 0.3rem;
}

.rd1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.3rem;
}

.rd2{
	padding: 0.3rem;
}

.rd3{
	padding: 0.3rem;
}

.fondoRedes{
	display: flex;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
	background-color: #D59FF5;
}
/* SECTION DEL FOOTER */
.redesFacebook {
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 10px;
    img {
        width: 5rem;
    }
}

.redesInsta {
	display: block;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 10px;
    img {
        width: 5rem;
    }
}
/* NAV BAR DEL FOOTER */
.piePaginas{
    @include pie;
}

.piePaginas ul{
    @include footer-ul;
    padding-left: 0rem;
    a{
        color: #7747fc;
    }
}

.copyFooter{
	background-color:$colorFooter ;
	color: black;
	font-size: 1.3rem;
	b{
		padding-left: 2rem ;
	}
}

p{
	margin-bottom: 0rem;
}

a {
	color: #7747fc;
    text-decoration: none;
}

/* =/*::::: ESTILOS PARA PAGINA CONTACTO :::::: */
input[type="text"] {
	color: #c89eff;
}

input[type="email"] {
	color: $input;
}

input[type="password"] {
	color: $input;
}

input[type="checkbox"] {
	width: 40px;
	margin: 10px;
}

/* ///extend de la clase de arriba/// */
input[type="radio"] {
	@extend input[type="checkbox"] ;
	padding: 10px;
	color: #b388eb; /* se agrega padding distinto y color de la clase original  */
}

select {
	border: none;
	outline: none;
	color: purple;
}

option {
	background-color: #c4ccff;
}

input:focus {
	background-color: #c4ccff;
	color: purple;
	border: none;
	padding: 0.6rem;
	transition: 0.5s linear;
}

input:checked {
	color: #7747fc;
}
input {
	accent-color: #7747fc ;
}

#formulario input{
	border: none;
	outline: none;
	cursor: pointer;
    &:checked{
        color: #7747fc;
    }
}

#formulario textarea {
	color: #c89eff;
	outline: none;
    &:focus{
        background: #c4ccff;
        color: purple;
    }
}

#formulario .botones input{
	background-color:rgb(153, 153, 255);
	color: white;
	margin: 4px;
	padding: 8px;
	border-radius: 4px;
	&:hover {background:#ff53d4 radial-gradient(circle, transparent 1%, #fdaefd 1%) center/15000%;
	color: white;
	}
	&:active{
		background-color:#3c1777;
		background-size: 100%;
		transition: background 0.5s;
	}
}

/* imagen animada a la derecha de la pagina */
.animate__animated.animate__heartBeat {
	--animate-duration: 4s;
}