* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Lato", sans-serif;
	
}
/* MENUS DE NAV DE LA PAGINA */
.menuSuperior {
	z-index: 1000;
    position: sticky;
	top: 0%;
    nav {
        background-color: #c89effc2;
        background-image: url(../multimedia/mano.descendiendo1.jpg);
        background-repeat: no-repeat;
        background-size: auto;
        display: flex;
        flex-direction: row;
        justify-content:  flex-end;
        margin: 0px;
        padding-top: 2rem;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        padding-bottom: 2rem;
        text-align: right;
    }
}

.bg-fondo{
	flex-direction: row-reverse;
	background-color: #c89effc2;
	background-image: url(../multimedia/mano.descendiendo1.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	margin: 0px;
	padding-top: 2rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	padding-bottom: 2rem;
	a{
		transition: all 0.2s ease-in-out;
	}
	a:hover {
			color: #ffffff;
			transform: scale(1.1);
	}
}
/* LOGO ANIMADO */
.animate__animated.animate__flipInY{
	width: 8rem ;
	justify-self: flex-start;
	justify-items: flex-start;
	margin-left: 8rem;
}
.animate__animated.animate__flipInY{
	--animate-duration: 2s;
}

/* MODIFICACION ESTILO FUENTE DE NAVBAR BTS */
.nav-link{
	font-family: "Lato", sans-serif;
	font-size: 2rem;
	color: #551A8B;
}

.navbar-nav .nav-link.active{
	color: #7E78D2;
}

.navbar-brand{
	display: none;
}

/* MODIFICACION DE PADDING ELEMENTOS DE NAVBAR BTS */
.navbar{
	--bs-navbar-nav-link-padding-x: 0.8rem;
}
.navbar-nav {
    --bs-nav-link-padding-x: 0.8rem;
    --bs-nav-link-padding-y: 0.8rem;
}
/* FONDO PAGINA IDEX - SECCIONES QUE NO TIENEN SU COLOR PROPIO*/
.contenedor{
	background: rgba(255, 255, 255, 1);
	background: -moz-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 9%,
		rgba(255, 204, 232, 1) 35%,
		rgba(255, 173, 216, 1) 48%,
		rgba(255, 158, 211, 1) 100%
	);
	background: -webkit-gradient(
		left top,
		right bottom,
		color-stop(0%, rgba(255, 255, 255, 1)),
		color-stop(9%, rgba(255, 255, 255, 1)),
		color-stop(35%, rgba(255, 204, 232, 1)),
		color-stop(48%, rgba(255, 173, 216, 1)),
		color-stop(100%, rgba(255, 158, 211, 1))
	);
	background: -webkit-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 9%,
		rgba(255, 204, 232, 1) 35%,
		rgba(255, 173, 216, 1) 48%,
		rgba(255, 158, 211, 1) 100%
	);
	background: -o-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 9%,
		rgba(255, 204, 232, 1) 35%,
		rgba(255, 173, 216, 1) 48%,
		rgba(255, 158, 211, 1) 100%
	);
	background: -ms-linear-gradient(
		-45deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 9%,
		rgba(255, 204, 232, 1) 35%,
		rgba(255, 173, 216, 1) 48%,
		rgba(255, 158, 211, 1) 100%
	);
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 9%,
		rgba(255, 204, 232, 1) 35%,
		rgba(255, 173, 216, 1) 48%,
		rgba(255, 158, 211, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff9ed3', GradientType=1 );
	font-size: 1.6rem;
}
/* MAIN DE LA PAGINA - SU CIERRE DA INICIO A UNA GRILLA */
.principal {
	background-color: #c4ccff;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: space-evenly;
	height: 120rem
	;
    &__titulo {
        color: #dd4fb5;
        font-size: 9rem;
        font-family: "Dancing Script", cursive;
        margin-left: 20px;
        margin-top: 20px;
        &--bienvenida {
            color: #ffe6ff;
            text-align: center;
            font-size: 2rem;
        }
        &--link1 {
            color: #7747fc;
            text-align: right;
        }
}
}

.imagenLogo {
	width: 100px;
	height: 120px;
	background-position: 0%;
	z-index: 1;
    position: relative;
}
/* LOGO ANIMADO */
.animate__animated.animate__shakeX{
	position: absolute;
	top: -50px;
	left: -60px;
	right: 0px;
	bottom: 20px;
    img{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
/* ESTILO DE IMAGEN PERTENECIENTE A MAIN CON TEXTO ENCIMA DE LA MISMA */
.imagenBienvenida {
	background-image: url(../multimedia/imagenpestaniasunias1.jpg);
	height: 100%;
	max-width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 0.3rem;
	margin-right: 0.6rem;
	margin-left: 0.6rem;
	margin-bottom: 0.4rem;
	padding-top: 0.2rem;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	padding-bottom: 0.2rem;

	border-top-style: inset;
	border-left-style: inset;
	border-bottom-style: none;
	border-left-color: #c89eff;
	border-top-color: #ff53d4;
	border-width: 2px;
    p{
        font-size: 3rem;
        text-align: center;
    }    
}
/* DIV "FLOTANTE" PARA CONTRASTAR TEXTO SOBRE IMAGEN */
.fondo--parrafoPrincipal{
	margin-top: 4rem;
	margin-left: 1rem;
	margin-right: 1rem;
	background-color: #c4ccff;
	padding-top: 3rem;
	padding-bottom: 3rem;
	color: #dd4fb5;
	box-shadow: 3px 3px 12px, 10px 10px 15px black;
}
/* TEXTO DENTRO DEL DIV FLOTANTE */
.parrafoPrincipal{
	margin-top: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	line-height: 1.4;
	font-weight: 800;
}

/* COMIENZA LA GRILLA DE IMAGEN A LA IZQ Y TEXTO EN DERECHA */
.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr 2fr;
	grid-template-areas:
	"eyelash textoEyelash"
	"botellitas textoBotellitas"
	;
	justify-items: center;
	align-items: center;
    p{
        font-size: 2rem;
    }
}
/* ELEMENTO DE IZQ Y ARRIBA */
.eyelash{
	grid-area: eyelash;
	justify-self: center;
	align-self: center;
	
}

.sectionImage1{
	width: 100%;
	height: auto;
	padding-left: 12rem;
}
/* ELEMENTOS DERECHA Y ARRIBA */
.textoEyelash{
	grid-area: textoEyelash;
	padding: 2rem;
	margin: 2rem;
}

/* ELEMENTO IZQUIERDA Y ARRIBA */
.botellitas{
	grid-area: botellitas;
	justify-self:center;
	align-self: center;
	padding: 3rem;
	margin: 5rem;
	
	
}
/* ELEMENTO ABAJO Y DERECHA */
.textoBotellitas{
	grid-area: textoBotellitas;
	padding: 2rem;
	margin: 2rem;
	hr{
		width: 90%;
		height: 8px;
	}
}
.espaciadoLineas {
	line-height: 1.4;
    span{
        font-weight: 700;
        color: #7747fc;
    }
}

#fondoPagina2 {
	background-color: #e2fdfd;
}

/* DIV CON CARACTERISTICAS DEl SERVICIO	 - 3 ELEMENTOS */
.iconos{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr ;
	grid-template-areas:
	"textoIcono1 textoIcono2 textoIcono3"
	"icono1 icono2 icono3"
	;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
    img{
        max-width: 10rem;
        height: auto;
    }
    p{
        text-align: center;
        align-self: center;
    }
}
.iconos{
	padding-top: 4rem;
	padding-bottom: 4rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.textoIcono1{
	grid-area: textoIcono1;
}

.textoIcono2{
	grid-area: textoIcono2;
}

.textoIcono3{
	grid-area: textoIcono3;
}

/* ESTILO Y ANIMACION DE 3 ICONOS DEL DIV */
.icono1{
	grid-area: icono1;
	animation-name: temblorcito;
	transition: all 0.2s ease-in-out;
	&:hover {
		animation: swing 1s ease;
		animation-iteration-count: 1;
		}
}
@keyframes temblorcito {   
	15% {
	transform: translateX(5px);
	}
	30% {
	transform: translateX(-5px);
	}
	50% {
	transform: translateX(3px);
	}
	65% {
	transform: translateX(-3px);
	}
	80% {
	transform: translateX(2px);
	}
	100% {
	transform: translateX(0);
	}
}
.icono2{
	grid-area: icono2;
	animation-name: temblorcito;
	margin-bottom: 10px;
	transition: all 0.2s ease-in-out;
	&:hover {
		animation: swing 1s ease;
		animation-iteration-count: 1;
		}
}

.icono3{
	grid-area: icono3;
	animation-name: tembloricto;
	transition: all 0.2s ease-in-out;
	&:hover {
		animation: swing 1s ease;
		animation-iteration-count: 1;
		}
}

/* TEXTO PIE DE PAGINA IDEX */
.copyFooter{
	background-color: $colorFooter ;
	color: black;
	font-size: 1.3rem;
}
/* CAJA DE PIE DE PAGINA */
.fondoRedes{
	display: flex;
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
	background-color: $colorFooter;
}
/* LOGO FB SECCION DE REDES */
.redesFacebook {
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 10px;
    img {
        width: 5rem;
		transition: all 0.2s ease-in-out;
    }
	img:hover{
		transform: scale(0.8);
	}
}
/*  LOGO IG SECCION DE REDES */
.redesInsta {
	display: block;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	padding: 10px;
    img {
        width: 5rem;
		transition: all 0.2s ease-in-out;
    }
	img:hover{
		transform: scale(0.8);
	}
}
/* DEBAJO VIENE LINK A WSP QUE POR AHORA NO TENGO LINKEADO POR LO QUE PONGO OTRO LINK A YOUTUBE */
.redesWhatsapp {
	position: fixed;
	right: 0px;
	bottom: 60px;
    img {
        width: 12rem;
    }
}
/* NAVBAR DE FOOTER */
.piePagina__index{
	display: flex;
	flex-direction: column;
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        padding-left: 0rem;
    }
    a{
        color: #7747fc;
    }
}
.colorFooter {
	color: black;
	align-self: flex-start;
	font-size: 1.3rem;
	b{
		padding-left: 2rem;
	}
}
