@mixin pie{
    background-color: #D59FF5;
	padding: 2px;
	font-size: 1.5rem;
}

@mixin footer-ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
    
    }

@mixin tituloPreguntas ($color, $alineacion, $rem) {
    color: $color;
	text-align: $alineacion;
	font-size: $rem;
}