	
    $Navbar: #c89effc2;
    $colorPrincipal: #c4ccff ;
    $colorFooter: #D59FF5;
    $fondoFormulario: #fcadefda ;
    $textoNavbar : #551A8B;
    $textodefaultsize: 2rem;

/*/// MAP GET ///*/

$navbarPadding :(
    arriba: 4rem,
	izquierda: 0.6rem,
	derecha: 0.6rem,
	abajo: 4rem
)

